* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.main {
  background-image: url('../img/anastasiya-vysotskaya-v5GfetB7Yv0-unsplash1.jpg');
  height: 715px;
}

.navbar__container {
  padding-top: 38px;
  display: flex;
  justify-content: space-between;
  height: 25px;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

#navbar__logo>a {
  width: 90px;
  margin-left: 30px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 35px;
}

.navbar__links {
  color: #533738;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  /* margin-right: 23px; */
  font-size: 16px;
}

.navbar__item__pos {
  margin-right: 23px;
}

.main__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 94px;
  margin-left: 185px;
  height: 90%;
  max-width: 1300px;
  padding: 0 50px;
}

.main__content h1 {
  height: 186px;
  font-size: 50px;
  line-height: 62px;
  color: #533738;
}

.main__content p {
  margin-top: 24px;
  height: 90px;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.main__btn {
  margin-top: 21px;
  background: #CC8B86;
  width: 309px;
  height: 74px;
  border: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #533738;
}

.about {
  background: #E5E5E5;
}

.about h2 {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  padding-top: 65px;
}

.about__container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-content: center;
  grid-column-gap: 61px
}

.about__img--container{
  justify-self: end;
}

.about__img--container img {
  height: 400px;
}

.about__container p {
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.reward__container {
  background: #8D7370;
  height: 273px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reward__container p {
  text-align: center;
  font-size: 50px;
  line-height: 62px;
  color: #FFFFFF;
}

.works {
margin-top: 65px;
padding-left: 100px;
}

.text3 {
font-size: 40px;
text-transform: uppercase;
color: #533738;
}

.works__container {
margin-top: 40px;
display: flex;
flex-wrap: wrap;
align-content: space-between;
}

.works__container img{
margin-bottom: 20px;
margin-right: 20px;
}

.team {
  background: #E2C4BA;
}

.team>p {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  color: #533738;
  padding-top: 50px;
}

.team__container {
  margin-top: 42px;
  display: flex;
  justify-content: space-around;
}

.team__card>p {
  margin-top: 10px;
  width: 100%;
}

.how__container {
  margin-top: 42px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 80px;
}

.num {
  text-align: center;
  width: 60px;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  margin: auto;
  color: #FFFFFF;
  border-radius: 100%;
  background: #8D7370;
  line-height: 60px;
}

.txt {
  font-size: 18px;
  margin-top: 40px;
  line-height: 30px;
  text-align: center;
  color: #533738;
}

.reviews {
  background-color: #F5F2ED;
}

.reviews>p {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  color: #533738;
  padding-top: 50px;
}

.reviews__container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  padding-bottom: 65px;
}

.reviews__content {
  display: flex;
  flex-direction: row;
}

.reviews__content {
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.reviews__content p {
  align-self: center;
}

.reviews__img--container {
  display: flex;
  flex-direction: column;
  margin-left: 19px;
}

#prev {
  margin-right: 30px;
  border: none;
  background: #CC8B86;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  align-self: center;
  transform: rotateY(-180deg);
}

#next {
  margin-left: 30px;
  border: none;
  background: #CC8B86;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  align-self: center;
}

.application {
  background-color: #8D7370;
}

.application__container {
  display: flex;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
}

#blabla1 {
  margin-top: 50px;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
}

#blabla2 {
  font-size: 18px;
  line-height: 30px;
  margin-top: 24px;
  color: #FFFFFF;
  opacity: 0.6;
}

#name {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  margin-top: 44px;
  padding-bottom: 5px;
}

#name::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: #F6EDE9;
}

#num {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  margin-top: 44px;
  padding-bottom: 5px;
}

#num::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: #F6EDE9;
}

footer {
  background: #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
}

footer>p {
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}
